passwd:     files sss ldap
shadow:     files sss ldap
group:      files sss ldap
hosts:      files dns
bootparams: nisplus [NOTFOUND=return] files
ethers:     files
netmasks:   files
networks:   files
protocols:  files
rpc:        files
services:   files sss
netgroup:   files sss ldap
publickey:  nisplus sss ldap
automount:  files sss ldap
aliases:    files ldap
